.FullPost {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 800px;
    border-top: 1px solid grey;
    padding-top: 20px;
}

.Right-content {
    background-color: #eee;
    padding: 5px;
    max-height: 490px
}

.Right-content p {
    color: #9e9d9d;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px
}

.left-content {
    padding: 0 0 0 50px;
    width: 60%;
}

.left-content h1{
    margin: 0;
    color: #9e9d9d;
    text-transform: uppercase;
}

.left-content ul{
    padding: 0;
}

.season-list li{
    list-style-type: none;
    display: inline-block;
    margin: 0 3px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #00000045;
    cursor: pointer;
    /* Gradient */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.season-list li.active {
    background: -moz-linear-gradient(top, rgba(89,89,89,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(89,89,89,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(89,89,89,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6595959', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    color: white;
    pointer-events: none
}

.season-list li:hover {
    background: -moz-linear-gradient(top, rgba(89,89,89,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(89,89,89,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(89,89,89,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6595959', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    color: white
}

.episode-list li {
    list-style-type: none;
    display: block;
    margin: 0 3px;
    border-top: 1px solid #ccc;
    padding: 8px;
    color: #aaa;
    cursor: pointer; 
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.episode-list li:hover{
    color: white;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
    background-color: #ccc
}

.episode-title {
    padding-left: 15px;
}

.episode-content p {
    margin: 10px 0px;
}

.icon-episode {
    border: 1px solid #ccc;
    width: 10px;
    height: 10px;
    float: right;
    background-color: #1781ef;
}

.episode-list li > .episode-content{
    display: none;
}

.episode-list li.active > .episode-content{
    display: block;
    padding: 0 30px;
}


.episode-list li:hover.active{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}


