.Modal {
    position: fixed;
    z-index: 500;
    background-color: #e6e6e6;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #00000026;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    color: grey;
}

@media (min-width: 600px) {
    .Modal {
        width: 350px;
        left: calc(50% - 150px);
    }
}