.Post {
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 3px #504f4f;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    flex: 1 3 30%;
}

.Post h3 {
    padding: 20px;
}

.Post:hover h3{
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 24%, rgba(41,137,216,1) 39%, rgba(32,124,202,1) 53%, rgba(32,124,202,1) 69%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 24%,rgba(41,137,216,1) 39%,rgba(32,124,202,1) 53%,rgba(32,124,202,1) 69%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 24%,rgba(41,137,216,1) 39%,rgba(32,124,202,1) 53%,rgba(32,124,202,1) 69%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    color: white;
}

.Image {
    margin: 5px auto 0;
    width: 250px;
    height: 250px;
}

.Image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}