.Nav {
    display: inline-block;
}

.Nav h2 {
    display: inherit;
    margin: 0;
    color: #ccc;
    text-transform: uppercase
}

.Header {
   margin: 20px;
}

.search-input {
    display: inherit;
    float: right;
    color: darkgray;
    cursor: pointer;
}

.search-input:hover {
    color: #8a8686
}

.search-input input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 8px;
    outline: none;
}


/* General Button */
/* -------------- */
.button {
    position: relative;
    margin: 0;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: lightgrey;
    color: white;
    font-size: 14px;
    margin-left: 19px;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px #aaa;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.button:hover { background: darkgray; }

.prev::after { border-style: solid; }

/* Prev Button */
/* ----------- */
.prev::after {
  left: -36px;
  border-color: transparent lightgrey transparent transparent;
  border-width: 18px;
}

.prev:hover::after {
  border-right-color: darkgray;
}